<ul id="users">
  <h3>References from people I've worked for</h3>
  <% @user.work_references_received.each do |reference| %>
    <li>
      <div>
        <%= link_to reference.employer_user.first_name, reference.employer_user %>
      <div>
        <%= reference.work.capitalize %>
      </div>
        <%= reference.comment %>
      <div>
        Reviewed on
        <%= reference.created_at.strftime("%d %b. %Y") %>
      </div>
    </li>
  <% end %>
</ul>
