<header id="content-header">
  <h1><%= pluralize(@users.size, 'person') %> wanting to work hard</h1>
</header>

<ul id="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>   
    </li>
  <% end %>
</ul>