<header id="main_header">
  <h1>Find someone in Cape Town to get the job done</h1>
</header>

<div class="col-sm-6 col-md-4 col-lg-2">
	<ul id="users">
	  <% @users.each do |user| %>
	    <li>
	      <%= link_to user.first_name, user, {style: 'text-decoration:none' } %>
	      -
	      <%= user.service %>
	    </li>
	  <% end %>
	</ul>
</div>