<header id="content-header">
  <h1>Find someone in your area to get the job done</h1>
</header>

<ul id="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.first_name, user %>
    </li>
  <% end %>
</ul>
